## Making a Web Scraper- Mid America Open

In [1]:
# import dependencies
import time
from selenium import webdriver
from datetime import datetime

## Opening the website

In [2]:
# path of the chromedriver
chrome_driver = webdriver.Chrome('/Users/bowbrannon3/Documents/Data_Science/chromedriver')

/var/folders/0y/p5wv0k811bxbr5bsf_fjdm3w0000gn/T/ipykernel_93060/158780501.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  chrome_driver = webdriver.Chrome('/Users/bowbrannon3/Documents/Data_Science/chromedriver')

In [3]:
# url of website to be scraped - event number for "Champions Cup"
url = "https://www.pdga.com/tour/event/58201"

# to open the url in browser
chrome_driver.get(url)

## Navigate to Event and collect round ratings for top 25 players

In [4]:
# navigate to scores table, and click 'show round ratings'
ratings = '/html/body/div[4]/section/div/div/div/div/div/div/div/div/div/div/div[11]/div/div[2]/details[1]/div[97]/a[1]'

# get that article
link = chrome_driver.find_element("xpath", ratings)
#click to open
link.click()

# read the text of article
print(link.text)

Hide round ratings

## Iterating through top 25

In [5]:
import numpy as np
# create arrays to store info for dataframes
places = np.arange(1,26)
names = []
rd1_ratings = []
rd2_ratings = []
rd3_ratings = []
rd4_ratings = []
payouts = []

In [6]:
# get info from top 25 players and add to arrays
place = 1
for x in range (1,26):
    #print(f'Place {place}:') 
    #place +=1
    name_path = f'/html/body/div[4]/section/div/div/div/div/div/div/div/div/div/div/div[11]/div/div[2]/details[1]/div[98]/table[2]/tbody/tr[{x}]/td[3]/a'
    title = chrome_driver.find_element('xpath',name_path)
    #add to names array
    names.append(title.text)
    
    # iterating through round ratings- only 3 rounds this tournament
    for y in range(8,13,2):
        rd_path = f'/html/body/div[4]/section/div/div/div/div/div/div/div/div/div/div/div[11]/div/div[2]/details[1]/div[98]/table[2]/tbody/tr[{x}]/td[{y}]'
        score = chrome_driver.find_element('xpath', rd_path).text
        
        if (y/2-3==1):
            rd1_ratings.append(score)
        elif (y/2-3==2):
            rd2_ratings.append(score)
        elif (y/2-3==3):
            rd3_ratings.append(score)
        else:
            rd4_ratings.append(score)
        
        print(f'{x} Scores:')
        print(score)
    pay_path = f'/html/body/div[4]/section/div/div/div/div/div/div/div/div/div/div/div[11]/div/div[2]/details[1]/div[98]/table[2]/tbody/tr[{x}]/td[14]'
    cash = chrome_driver.find_element('xpath',pay_path).text
    payouts.append(cash)

1 Scores:
1049
1 Scores:
1049
1 Scores:
1043
2 Scores:
1036
2 Scores:
1055
2 Scores:
1036
3 Scores:
1043
3 Scores:
1036
3 Scores:
1049
4 Scores:
1049
4 Scores:
1024
4 Scores:
1049
5 Scores:
1017
5 Scores:
1049
5 Scores:
1043
6 Scores:
1011
6 Scores:
1049
6 Scores:
1043
7 Scores:
1024
7 Scores:
1049
7 Scores:
1030
8 Scores:
1030
8 Scores:
1049
8 Scores:
1017
9 Scores:
1036
9 Scores:
1030
9 Scores:
1030
10 Scores:
1062
10 Scores:
1036
10 Scores:
992
11 Scores:
1011
11 Scores:
1024
11 Scores:
1055
12 Scores:
1030
12 Scores:
1030
12 Scores:
1017
13 Scores:
1030
13 Scores:
1024
13 Scores:
1017
14 Scores:
992
14 Scores:
1055
14 Scores:
1024
15 Scores:
998
15 Scores:
1005
15 Scores:
1062
16 Scores:
1024
16 Scores:
1062
16 Scores:
979
17 Scores:
1017
17 Scores:
998
17 Scores:
1043
18 Scores:
1017
18 Scores:
1017
18 Scores:
1024
19 Scores:
1036
19 Scores:
979
19 Scores:
1036
20 Scores:
1011
20 Scores:
1049
20 Scores:
992
21 Scores:
1030
21 Scores:
1030
21 Scores:
992
22 Scores:
1043
22 Scores:
1011
22 Scores:
998
23 Scores:
1036
23 Scores:
1005
23 Scores:
1005
24 Scores:
1005
24 Scores:
998
24 Scores:
1043
25 Scores:
1024
25 Scores:
1024
25 Scores:
992

In [7]:
#testing 
for payout in payouts:
    print(payout)

$3,500
$1,600
$1,600
$850
$720
$625
$625
$538
$538
$487
$487
$450
$420
$420
$380
$380
$345
$345
$315
$315
$315
$315
$285
$285
$265

In [8]:
## Create Dataframe from arrays
import pandas as pd

MAO_22 = pd.DataFrame({"Place":places, "Name": names, "Round_1":rd1_ratings, "Round_2": rd2_ratings, "Round_3": rd3_ratings, "Payout": payouts})
MAO_22.head(20)

    Place               Name Round_1 Round_2 Round_3  Payout
0       1       Alden Harris    1049    1049    1043  $3,500
1       2        Gannon Buhr    1036    1055    1036  $1,600
2       3      Chris Clemons    1043    1036    1049  $1,600
3       4     Anthony Barela    1049    1024    1049    $850
4       5         Kyle Klein    1017    1049    1043    $720
5       6    Andrew Presnell    1011    1049    1043    $625
6       7   Kevin Kiefer III    1024    1049    1030    $625
7       8        Drew Gibson    1030    1049    1017    $538
8       9      Aaron Gossage    1036    1030    1030    $538
9      10    Connor O'Reilly    1062    1036     992    $487
10     11  Jason Hebenheimer    1011    1024    1055    $487
11     12         Evan Scott    1030    1030    1017    $450
12     13       Joel Freeman    1030    1024    1017    $420
13     14     Isaac Robinson     992    1055    1024    $420
14     15    Chandler Kramer     998    1005    1062    $380
15     16         Evan Smith    1024    1062     979    $380
16     17      Jeremy Koling    1017     998    1043    $345
17     18          Jake Monn    1017    1017    1024    $345
18     19    Garrett Gurthie    1036     979    1036    $315
19     20       Cole Redalen    1011    1049     992    $315

In [9]:
#setting index to place
MAO_22.set_index('Place', inplace = True)
#Adding tournament column
MAO_22['Tournament'] = 'MAO'
MAO_22 = MAO_22[['Tournament', 'Name', 'Round_1', 'Round_2','Round_3', 'Payout']]
MAO_22.head()

      Tournament            Name Round_1 Round_2 Round_3  Payout
Place
1            MAO    Alden Harris    1049    1049    1043  $3,500
2            MAO     Gannon Buhr    1036    1055    1036  $1,600
3            MAO   Chris Clemons    1043    1036    1049  $1,600
4            MAO  Anthony Barela    1049    1024    1049    $850
5            MAO      Kyle Klein    1017    1049    1043    $720

In [11]:
MAO_22.to_csv("../Tournament_CSVs/MAO_22.csv")